In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [10]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [11]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [12]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
2,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
4,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
5,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
6,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
8,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix,3-8 Yrs

In [26]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/")

In [27]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [28]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [29]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [30]:
jo_title=[]
jo_location=[]
compan_name=[]

In [31]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    jo_title.append(title)

In [32]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    jo_location.append(location)

In [33]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    compan_name.append(company)

In [34]:
print(len(jo_title),len(jo_location),len(compan_name))

10 10 10

In [35]:
df=pd.DataFrame({'job_title':jo_title,'job_location':jo_location,'company_name':compan_name})
df

,job_title,job_location,company_name
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
6,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
7,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
9,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates

In [36]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/")

In [37]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [38]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
location_filter = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')

location_filter.click()

In [40]:
salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')

salary_filter.click()

In [42]:
j_title=[]
j_location=[]
compa_name=[]
expe_required=[]

In [43]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    j_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    j_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    compa_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    exp=i.text
    expe_required.append(exp)

In [44]:
df=pd.DataFrame({'job_title':j_title,'job_location':j_location,'company_name':compa_name,'experience_required':expe_required})
df

,job_title,job_location,company_name,experience_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

In [48]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [49]:
sunglasses=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
sunglasses.send_keys('sunglasses')

In [51]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [67]:
brand=[]
description=[]
price=[]
brands_tags=driver.find_elements(By.XPATH,'//*[@class="_2WkVRV"]')
for i in brands_tags[0:100]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//*[@class="IRpwTa"]')
for i in descriptio_tags[0:100]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//*[@class="_30jeq3"]')
for i in pric_tags[0:100]:
    pric=i.text
    price.append(pric)

In [68]:
print(len(brand),len(description),len(price))

40 40 40

In [82]:
df=pd.DataFrame({'brand':brand,'description':description,'price':price})
df

,brand,description,price
0,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹283
1,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
3,ROZZETTA CRAFT,UV Protection Over-sized Sunglasses (57),₹449
4,Rich Club,UV Protection Round Sunglasses (50),₹399
5,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹649
6,AISLIN,"UV Protection, Gradient Butterfly, Over-sized ...",₹675
7,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499
8,Fastrack,Gradient Round Sunglasses (Free Size),"₹1,599"
9,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹949
10,PIRASO,UV Protection Aviator Sunglasses (55),₹279
11,ROZZETTA CRAFT,UV Protection Shield Sunglasses (Free Size),₹499
12,AISLIN,"UV Protection, Gradient Retro Square Sunglasse...",₹498
13,peter india,UV Protection Spectacle Sunglasses (Free Size),₹210
14,ROYAL SON,UV Protection Retro Square Sunglasses (60),₹569
15,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499
16,New Specs,UV Protection Aviator Sunglasses (Free Size),₹214
17,Ray-Ban,"Gradient, UV Protection Aviator Sunglasses (62)","₹4,369"
18,VINCENT CHASE,by Lenskart UV Protection Clubmaster Sunglasse...,₹949
19,Enrico,Gradient Over-sized Sunglasses (62),₹899
20,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹324
21,PIRASO,UV Protection Over-sized Sunglasses (60),₹395
22,Fastrack,UV Protection Aviator Sunglasses (58),₹987
23,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹3,909"
24,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹219
25,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹349
26,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899
27,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹237
28,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949
29,ROYAL SON,Polarized Rectangular Sunglasses (60),₹664
30,AISLIN,"UV Protection Oval, Aviator Sunglasses (61)",₹875
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949
32,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹795
33,LIZA ANGEL,"Night Vision, UV Protection Spectacle Sunglass...",₹199
34,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹369
35,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹499
36,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹324
37,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹849
38,PIRASO,UV Protection Aviator Sunglasses (54),₹279
39,PIRASO,UV Protection Butterfly Sunglasses (60),₹410

In [83]:
next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next.click()

In [84]:
brand=[]
description=[]
price=[]
brands_tags=driver.find_elements(By.XPATH,'//*[@class="_2WkVRV"]')
for i in brands_tags[0:100]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//*[@class="IRpwTa"]')
for i in descriptio_tags[0:100]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//*[@class="_30jeq3"]')
for i in pric_tags[0:100]:
    pric=i.text
    price.append(pric)

In [85]:
print(len(brand),len(description),len(price))

40 40 40

In [86]:
df1=pd.DataFrame({'brand':brand,'description':description,'price':price})
df1

             brand                                        description    price
0           GANSTA  UV Protection, Night Vision, Riding Glasses Av...     ₹349
1          Urbanic         Others Retro Square Sunglasses (Free Size)     ₹599
2    VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...     ₹899
3    VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...   ₹1,415
4          Ray-Ban               UV Protection Shield Sunglasses (51)  ₹10,390
5    VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...     ₹999
6          Ray-Ban              UV Protection Aviator Sunglasses (58)  ₹10,257
7    VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...     ₹999
8            NuVew  UV Protection, Night Vision, Riding Glasses Av...     ₹195
9        ROYAL SON  UV Protection Round, Oval, Cat-eye Sunglasses ...     ₹699
10   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...   ₹1,049
11   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...     ₹949
12         Ray-Ban                     Gradient Round Sunglasses (52)   ₹9,799
13         Ray-Ban                UV Protection Round Sunglasses (53)   ₹5,310
14        Fastrack       UV Protection Aviator Sunglasses (Free Size)     ₹629
15   VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (53)     ₹999
16          AISLIN  UV Protection, Gradient Cat-eye, Oval Sunglass...     ₹498
17       ROYAL SON  Gradient, UV Protection Round, Oval, Cat-eye S...     ₹664
18          GANSTA  Night Vision, Riding Glasses Aviator Sunglasse...     ₹269
19   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...     ₹949
20          AISLIN        UV Protection Oval, Aviator Sunglasses (59)     ₹675
21         Ray-Ban       UV Protection Aviator Sunglasses (Free Size)   ₹6,979
22         Ray-Ban              Polarized Oval Sunglasses (Free Size)   ₹5,389
23   VINCENT CHASE  by Lenskart UV Protection, Polarized Aviator S...     ₹999
24        Fastrack             UV Protection Wayfarer Sunglasses (54)     ₹699
25            hipe              UV Protection Sports Sunglasses (100)     ₹170
26     peter india      UV Protection Wayfarer Sunglasses (Free Size)     ₹170
27   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...     ₹849
28        Fastrack             UV Protection Wayfarer Sunglasses (55)     ₹745
29      PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)     ₹369
30          AISLIN        UV Protection Oval, Aviator Sunglasses (58)     ₹995
31   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...     ₹799
32           NuVew              UV Protection Aviator Sunglasses (58)     ₹195
33       ROYAL SON  UV Protection Wrap-around, Sports Sunglasses (60)     ₹711
34  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...     ₹269
35  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...     ₹399
36  kingsunglasses         UV Protection Round Sunglasses (Free Size)     ₹233
37  kingsunglasses  UV Protection, Mirrored Wayfarer Sunglasses (F...     ₹189
38          AISLIN  Polarized, UV Protection, Mirrored Wayfarer, R...     ₹925
39   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...   ₹1,415

In [87]:
next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next.click()

In [88]:
brand=[]
description=[]
price=[]
brands_tags=driver.find_elements(By.XPATH,'//*[@class="_2WkVRV"]')
for i in brands_tags[0:20]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//*[@class="IRpwTa"]')
for i in descriptio_tags[0:20]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//*[@class="_30jeq3"]')
for i in pric_tags[0:20]:
    pric=i.text
    price.append(pric)

In [89]:
print(len(brand),len(description),len(price))

20 20 20

In [90]:
df2=pd.DataFrame({'brand':brand,'description':description,'price':price})
df2

             brand                                        description    price
0        ROYAL SON            Mirrored Aviator Sunglasses (Free Size)     ₹379
1         Fastrack       UV Protection Aviator Sunglasses (Free Size)   ₹1,499
2           PIRASO             Polarized Retro Square Sunglasses (47)     ₹444
3    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)     ₹999
4            NuVew               UV Protection Sports Sunglasses (73)     ₹398
5           GANSTA  Riding Glasses, UV Protection Aviator Sunglass...     ₹259
6    VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...     ₹799
7   ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)     ₹399
8          Dannilo  Gradient, UV Protection, Mirrored Round Sungla...     ₹240
9      john jacobs         UV Protection Retro Square Sunglasses (51)   ₹3,325
10     SKYZA INDIA  Polarized, UV Protection Sports Sunglasses (Fr...     ₹489
11   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...     ₹899
12            IDEE              UV Protection Aviator Sunglasses (57)   ₹1,629
13       Elligator  UV Protection Retro Square, Round Sunglasses (54)     ₹458
14        Fastrack         UV Protection Retro Square Sunglasses (54)     ₹629
15   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...     ₹949
16       ROYAL SON  UV Protection, Polarized Wrap-around, Sports S...     ₹854
17      PHENOMENAL  UV Protection, Mirrored Wayfarer Sunglasses (F...     ₹259
18         Ray-Ban               UV Protection Shield Sunglasses (51)  ₹10,390
19   VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (58)     ₹949

In [121]:
pd.concat([df, df1, df2])

             brand                                        description    price
0           SUNBEE  UV Protection, Polarized, Mirrored Wayfarer Su...     ₹283
1   ROZZETTA CRAFT   UV Protection Rectangular Sunglasses (Free Size)     ₹319
2         Fastrack   UV Protection Rectangular Sunglasses (Free Size)     ₹639
3   ROZZETTA CRAFT           UV Protection Over-sized Sunglasses (57)     ₹449
4        Rich Club                UV Protection Round Sunglasses (50)     ₹399
..             ...                                                ...      ...
15   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...     ₹949
16       ROYAL SON  UV Protection, Polarized Wrap-around, Sports S...     ₹854
17      PHENOMENAL  UV Protection, Mirrored Wayfarer Sunglasses (F...     ₹259
18         Ray-Ban               UV Protection Shield Sunglasses (51)  ₹10,390
19   VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (58)     ₹949

[100 rows x 3 columns]

In [91]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [92]:
sunglasses=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
sunglasses.send_keys('iphone11')

In [93]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [94]:
#lateron for question 5

In [5]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")
sunglasses=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
sunglasses.send_keys('sneakers')
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [10]:
brand=[]
description=[]
price=[]
discount=[]
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands_tags[0:32]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descriptio_tags[0:32]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pric_tags[0:32]:
    pric=i.text
    price.append(pric)
    
discoun_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discoun_tags[0:32]:
    discoun=i.text
    discount.append(discoun)

In [11]:
print(len(brand),len(description),len(price),len(discount))

32 32 32 32

In [137]:
df=pd.DataFrame({'brand':brand,'description':description,'price':price,'discount':discount})
df

,brand,description,price,discount
0,LEVI'S,Levi's Men's Lancer Sneakers Sneakers For Men,"₹1,759",45% off
1,LEVI'S,Levi's Men's Henry Sneakers Sneakers For Men,"₹1,539",45% off
2,PUMA,Cilia Mode Sneakers For Women,"₹2,289",54% off
3,RapidBox,Glory Sneakers For Men,₹610,38% off
4,PUMA,Sneakers For Women,"₹1,747",41% off
5,Layasa,Sneakers For Men,₹498,50% off
6,Roadster,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹959,70% off
7,RapidBox,Unique & Perfect Collection Combo Pack of 02 S...,₹640,35% off
8,Robbie jones,casual sneaker shoes for men luxury fashion ca...,₹529,47% off
9,Chevit,Sneakers For Women,₹459,69% off
10,kardam&sons,Sneakers For Men,₹448,65% off
11,RapidBox,Lattest Sneakers Shoe Sneakers For Men,₹630,36% off
12,Layasa,Sneakers For Women,₹499,50% off
13,DUCATI,Modern Trendy Sneakers Shoes Sneakers For Men,"₹1,399",61% off
14,BRUTON,Sneakers For Women,₹299,76% off
15,RapidBox,Luxury Branded Fashionable Men's Casual Walkin...,₹620,37% off
16,PREKANZO,Serve Pro Lite Sneakers For Men,₹441,55% off
17,BRUTON,Casual Stylish Trending Sneakers For Women,₹666,48% off
18,Deals4you,Bella SL Sneakers For Women,₹399,73% off
19,ASTEROID,Stylish & Trending Outdoor Walking Comfortable...,₹499,75% off
20,PUMA,Rebound JOY Sneakers For Men,"₹2,532",43% off
21,VENDOZ,Sneakers For Women,₹499,50% off
22,PUMA,Future Rider Displaced Sneakers For Men,"₹1,847",53% off
23,RapidBox,Puma Smash v2 Buck Sneakers For Men,₹650,34% off
24,WHITE WALKERS,Bella SL Sneakers For Women,₹479,60% off
25,PUMA,OLD SKOL Sneakers For Men,"₹3,054",44% off
26,Deals4you,Sneaker Sneakers For Men,₹528,64% off
27,Scull Wings,Shoes For Women's/Ladies/Female/Girls Running ...,₹549,63% off
28,PUMA,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...,"₹3,499",50% off
29,PUMA,Sneakers For Men,"₹2,204",37% off
30,PUMA,Sneakers For Men,"₹2,000",49% off
31,Old Skool,Perfect Stylish Casual Shoes For Girls & Women...,"₹1,599",68% off

In [124]:
next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next.click()

In [131]:
brand=[]
description=[]
price=[]
discount=[]
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands_tags[0:32]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//*[@class="IRpwTa"]')
for i in descriptio_tags[0:32]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pric_tags[0:32]:
    pric=i.text
    price.append(pric)
    
discoun_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discoun_tags[0:32]:
    discoun=i.text
    discount.append(discoun)

In [132]:
print(len(brand),len(description),len(price),len(discount))

32 32 32 32

In [138]:
next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next.click()

In [145]:
brand=[]
description=[]
price=[]
discount=[]
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands_tags[0:32]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//*[@class="IRpwTa"]')
for i in descriptio_tags[0:32]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pric_tags[0:32]:
    pric=i.text
    price.append(pric)
    
discoun_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discoun_tags[0:32]:
    discoun=i.text
    discount.append(discoun)

In [140]:
print(len(brand),len(description),len(price),len(discount))

32 32 32 32

In [141]:
df1=pd.DataFrame({'brand':brand,'description':description,'price':price,'discount':discount})
df1

,brand,description,price,discount
0,PUMA,Puma Smash Vulc Sneakers For Men,"₹2,317",39% off
1,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹749,62% off
2,RED TAPE,Sneakers For Men,"₹1,499",70% off
3,U.S. POLO ASSN.,CASTILLO Sneakers For Men,"₹2,321",46% off
4,BRUTON,CR-1 Sneakers For Men,₹672,83% off
5,RapidBox,Combo Pack of 3 Casual & Sports Shoes (Sneaker...,₹650,34% off
6,HOTSTYLE,Cilia Sneakers For Women,₹283,43% off
7,Chevit,Sneakers For Men,₹799,46% off
8,PUMA,WATERPROOF-05cFULLWHITE Sneakers For Men,"₹2,400",49% off
9,Roadster,Sneakers For Men,₹959,69% off
10,asian,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹598,40% off
11,U.S. POLO ASSN.,Sneakers For Men,"₹3,869",10% off
12,Chevit,Softride Enzo NXT Sneakers For Men,₹499,72% off
13,ROCKFIELD,JUNIA 2.0 Sneakers For Men,₹509,66% off
14,PUMA,Sneakers For Women,"₹3,354",39% off
15,U.S. POLO ASSN.,Modern Trendy Sneakers Shoes Sneakers For Men,"₹2,159",46% off
16,BIRDE,"Black casual shoes for men's, boot for men's,b...",₹299,40% off
17,BRUTON,Sneakers For Men,₹359,72% off
18,Xtoon,BMW MMS Neo Cat Sneakers For Men,₹499,66% off
19,U.S. POLO ASSN.,Latest Women's Pack of 2 Stylish Slip-On Loafe...,"₹3,599",10% off
20,PUMA,Casual Sneakers White Shoes For Girls And Wome...,"₹2,449",65% off
21,Chevit,Multi purpose casual shoes Sneakers For Men,₹327,79% off
22,Robbie jones,Designer Printed Casual Sneakers Shoes Sneaker...,₹549,45% off
23,OZJI,Capron 2.0 Sneakers For Men,₹494,70% off
24,AMICO,Sneakers For Men,₹424,57% off
25,U.S. POLO ASSN.,Sneakers For Men,"₹2,209",35% off
26,DUCATI,Puma Smash v2 Sneakers For Men,₹939,73% off
27,U.S. POLO ASSN.,SM-734 Sneakers For Men,"₹3,599",10% off
28,Roadster,"White casual, gym,training & Running sneakers ...",₹959,70% off
29,PUMA,STR2 Sneakers For Men,"₹2,129",57% off
30,Sparx,Stylish White Casual Walking Sneakers Shoes Fo...,₹705,15% off
31,U.S. POLO ASSN.,U.S. Polo Assn Men Grey Solid Sneakers Sneaker...,"₹4,139",10% off

In [144]:
next=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
next.click()

In [148]:
brand=[]
description=[]
price=[]
discount=[]
brands_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands_tags[0:36]:
    brands=i.text
    brand.append(brands)
    
descriptio_tags=driver.find_elements(By.XPATH, '//*[@class="IRpwTa"]')
for i in descriptio_tags[0:36]:
    descriptio=i.text
    description.append(descriptio)
    
pric_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pric_tags[0:36]:
    pric=i.text
    price.append(pric)
    
discoun_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discoun_tags[0:36]:
    discoun=i.text
    discount.append(discoun)

In [149]:
print(len(brand),len(description),len(price),len(discount))

36 36 36 36

In [150]:
df2=pd.DataFrame({'brand':brand,'description':description,'price':price,'discount':discount})
df2

,brand,description,price,discount
0,PUMA,Puma Smash v2 Buck Sneakers For Men,"₹2,204",37% off
1,HimQuen,Shoes For Women's/Ladies/Female/Girls Running ...,₹585,41% off
2,PUMA,Bella SL Sneakers For Women,"₹2,000",49% off
3,BRUTON,Sneaker Sneakers For Men,₹319,75% off
4,BERSACHE,Combo pack of 3 casual sneaker shoes for men S...,₹804,46% off
5,Noztile,Sneakers For Men,₹399,80% off
6,BRUTON,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...,₹492,83% off
7,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹479,60% off
8,RINDAS,Perfect Stylish Casual Shoes For Girls & Women...,₹298,70% off
9,PUMA,Puma Rebound LayUp SL Sneakers For Men,"₹2,887",42% off
10,PUMA,Puma Smash Vulc Sneakers For Men,"₹2,317",39% off
11,RapidBox,Mesh | Ultralightweight | Comfortable | Breath...,₹650,34% off
12,aadi,Sneakers For Men,₹749,62% off
13,RED TAPE,Cilia Sneakers For Women,"₹1,499",70% off
14,BRUTON,CR-1 Sneakers For Men,₹672,83% off
15,PUMA,Sneakers For Men,"₹2,400",49% off
16,HOTSTYLE,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹283,43% off
17,Roadster,WATERPROOF-05cFULLWHITE Sneakers For Men,₹959,69% off
18,Chevit,Sneakers For Men,₹499,72% off
19,asian,Modern Trendy Sneakers Shoes Sneakers For Men,₹598,40% off
20,ROCKFIELD,men's stylish multicolour & trending outdoor w...,₹509,66% off
21,BRUTON,Softride Enzo NXT Sneakers For Men,₹359,72% off
22,Zorth,Sneakers Shoes For Men Black Sneakers For Men,₹399,60% off
23,PUMA,"Black casual shoes for men's, boot for men's,b...","₹3,354",39% off
24,Airland,Sneakers For Men,₹197,60% off
25,Xtoon,BMW MMS Neo Cat Sneakers For Men,₹499,66% off
26,Roadster,Sneakers For Women,₹959,70% off
27,PUMA,Latest Women's Pack of 2 Stylish Slip-On Loafe...,"₹2,449",65% off
28,BIRDE,Stylish White Casual Walking Sneakers Shoes Fo...,₹299,40% off
29,Chevit,Casual Sneakers White Shoes For Girls And Wome...,₹327,79% off
30,T-ROCK,Capron 2.0 Sneakers For Men,₹473,52% off
31,Robbie jones,Designer Printed Casual Sneakers Shoes Sneaker...,₹549,45% off
32,U.S. POLO ASSN.,Sneakers For Men,"₹2,209",35% off
33,AMICO,SM-734 Sneakers For Men,₹424,57% off
34,DUCATI,Puma Smash v2 Sneakers For Men,₹939,73% off
35,Sparx,"White casual, gym,training & Running sneakers ...",₹705,15% off

In [151]:
pd.concat([df, df1, df2])

,brand,description,price,discount
0,PUMA,Puma Smash Vulc Sneakers For Men,"₹2,317",39% off
1,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹749,62% off
2,RED TAPE,Sneakers For Men,"₹1,499",70% off
3,U.S. POLO ASSN.,CASTILLO Sneakers For Men,"₹2,321",46% off
4,BRUTON,CR-1 Sneakers For Men,₹672,83% off
...,...,...,...,...
31,Robbie jones,Designer Printed Casual Sneakers Shoes Sneaker...,₹549,45% off
32,U.S. POLO ASSN.,Sneakers For Men,"₹2,209",35% off
33,AMICO,SM-734 Sneakers For Men,₹424,57% off
34,DUCATI,Puma Smash v2 Sneakers For Men,₹939,73% off
35,Sparx,"White casual, gym,training & Running sneakers ...",₹705,15% off

In [152]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("http://www.myntra.com/shoes")

In [12]:
#right click is not working at myntra site for scraping of data

In [166]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://amazon.in/")

In [167]:
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys('laptop')

In [168]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [165]:
#i7_filter = driver.find_element(By.XPATH,'//span[@title="Intel Core i7"]')

#i7_filter.click()

In [170]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[3]/div/div/div/div/div/div/div/div[2]/div/div/div[1]/h2/a")
search.click()

In [192]:
ratings=[]
description=[]
price=[]

pric_tags=driver.find_elements(By.XPATH,'//*[@class="a-price"]')
for i in pric_tags[0:10]:
    pric=i.text
    price.append(pric)

In [193]:
rate_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in rate_tags[0:10]:
    rate=i.text
    ratings.append(rate)

In [194]:
describe_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in describe_tags[0:10]:
    describe=i.text
    description.append(describe)

In [195]:
print(len(ratings),len(description),len(price))

10 10 10

In [196]:
df=pd.DataFrame({'ratings':ratings,'description':description,'price':price})
df

  ratings                                        description      price
0      17  Sponsored\nSamsung Galaxy Book2 360 Intel 12th...    ₹97,990
1       9  Sponsored\nSamsung Galaxy Book2 Pro Intel 12th...  ₹1,09,990
2      23  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    ₹62,990
3      25  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    ₹56,590
4      19  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    ₹89,990
5       1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    ₹81,990
6      23  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    ₹82,400
7      26  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    ₹79,490
8      16  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    ₹87,990
9       1  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...    ₹43,198

In [232]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("http://www.ambitionbox.com/")

In [233]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
jobs.click()

In [234]:
data=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
data.send_keys('Data Scientist')

In [235]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search.click()

In [236]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
search.click()

In [237]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys('Noida')

In [238]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
search.click()

In [272]:
name=[]
titl_tags=driver.find_elements(By.XPATH,'//div[@class="info"]')
for i in titl_tags[0:10]:
    titl=i.text
    name.append(describe)

In [273]:
print(len(name))

10

In [274]:
df4=pd.DataFrame({'name':name})
df4

                                                name
0  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
1  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
2  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
3  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
4  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
5  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
6  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
7  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
8  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...
9  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...

In [13]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("http://www.ambitionbox.com/")

In [14]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
jobs.click()

In [15]:
data=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
data.send_keys('Data Scientist')

In [16]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search.click()